name: Deleting and uninstalling all resources

on:
  workflow_dispatch:
    
permissions:
  contents: read
  security-events: write
  pull-requests: write   
  id-token: write  

env: 
  AWS_REGION : "eu-west-2"
  CLUSTER_NAME : "eks-cluster"

jobs:
  Delete:
    runs-on: ubuntu-24.04
    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5.1.1
      with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: ${{ secrets.GitHubActionsRole }}
          role-session-name: GitHubActionsRole
          aws-region: ${{ env.AWS_REGION }}

    - name: Uninstalling NGINX Ingress
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}
        helm uninstall nginx-ingress -n nginx-ingress
      continue-on-error: true

    - name: Deleting issuer
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}
        kubectl delete -f cert-man/issuer.yaml
      continue-on-error: true

    - name: Uninstalling Certificate Manager
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}  
        helm uninstall cert-manager -n cert-manager
      continue-on-error: true

    - name: Deleting Certificate Manager CRD's
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}  
        kubectl delete crd challenges.acme.cert-manager.io 
        kubectl delete crd orders.acme.cert-manager.io 
        kubectl delete crd certificaterequests.cert-manager.io 
        kubectl delete crd certificates.cert-manager.io 
        kubectl delete crd clusterissuers.cert-manager.io 
        kubectl delete crd issuers.cert-manager.io 
      continue-on-error: true

    - name: Uninstalling Kube-Prometheus-Stack
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}  
        helm uninstall kube-prometheus-stack -n kube-prometheus-stack
      continue-on-error: true

    - name: Deleting ArgoCD app
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}
        kubectl delete -f argo-cd/apps-argo.yaml
      continue-on-error: true
      
    - name: Uninstalling ArgoCD
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}  
        cd terraform
        helm uninstall argo-cd -n argo-cd
      continue-on-error: true

    - name: Deleting ArgoCD CRD's
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}
        kubectl delete crd applications.argoproj.io 
        kubectl delete crd applicationsets.argoproj.io
        kubectl delete crd appprojects.argoproj.io
      continue-on-error: true
      
    - name: Deleting External Secret Yaml
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}  
        kubectl delete -f secrets-manager/external-secret.yaml
      continue-on-error: true

    - name: Deleting S3 External Secret Yaml
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}  
        kubectl delete -f secrets-manager/external-secret-s3.yaml
      continue-on-error: true
  
    - name: Deleting Secret Store Yaml
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}  
        kubectl delete -f secrets-manager/secret-store.yaml
      continue-on-error: true

    - name: Uninstalling External Secrets Operator
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}  
        helm uninstall external-secrets -n external-secrets
      continue-on-error: true
        
    - name: Uninstalling External DNS
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}  
        cd terraform
        helm uninstall external-dns -n external-dns
      continue-on-error: true

    - name: Delete all namespaces
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}
        kubectl delete namespace argo-cd
        kubectl delete namespace cert-manager
        kubectl delete namespace external-dns
        kubectl delete namespace external-secrets
        kubectl delete namespace hedgedoc-app
        kubectl delete namespace kube-prometheus-stack
        kubectl delete namespace nginx-ingress

    - name: Deleting all the files of the S3 bucket dedicated to media uploads
      run:  |
        aws s3 rm s3://s3-mediaupload --recursive
      continue-on-error: true
        