name: Adding and installing all Helm resources

on:
  workflow_dispatch:
    
permissions:
  contents: read
  security-events: write
  pull-requests: write   
  id-token: write  

env: 
  AWS_REGION : "eu-west-2"
  CLUSTER_NAME : "eks-cluster"

jobs:
  HelmAdd:
    runs-on: ubuntu-24.04
    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1.7.0
      with:
          role-to-assume: ${{ secrets.GitHubActionsRole }}
          role-session-name: GitHubActionsRole
          aws-region: ${{ env.AWS_REGION }}

    - name: Adding NGINX Repo
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}
        helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
    
    - name: Adding NGINX Repo
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}
        cd terraform
        KUBECONFIG=/home/runner/.kube/config/cluster/${{ env.CLUSTER_NAME }} helm install nginx-ingress ingress-nginx/ingress-nginx --version 4.14.1 --namespace nginx-ingress --create-namespace --kube-context ${{ env.CLUSTER_NAME }}
    
    - name: Adding NGINX Repo
      run:  |
        aws eks update-kubeconfig --region ${{ env.AWS_REGION }} --name ${{ env.CLUSTER_NAME }}
        KUBECONFIG=/home/runner/.kube/config/cluster/${{ env.CLUSTER_NAME }} helm install external-dns oci://registry-1.docker.io/bitnamicharts/external-dns -f helm-values/external-dns.yaml --set image.repository=bitnamilegacy/external-dns --set image.tag=0.18.0-debian-12-r4 --namespace external-dns --create-namespace --kube-context ${{ env.CLUSTER_NAME }}
    
      
     



      